.hiddenButton{
	display : none;
}

.hiddenDiv{
	display : none;
}

.centeredDiv{
	position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

.centeredRequiredDiv{
	position: absolute;
    height: 200px;
    width: 500px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}